body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E91E63;
  background-image: url("/images/material.png");
}

h1, h2, h3 {
  display: inline;
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

p {
  font-size: 16px;
  padding-left: 15px;
}

a {
  color: #8BC34A;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: auto;
}

.header {
  color: #424242;
  background: #FFFFFF;
  padding: 0 60px;
  height: 60px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 60px;
}

.headertext {
  padding: 0 16px;
  float: right;
}

.headerlogo {
  background-color: #FFFFFF;
  height: 70px;
  float:left;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.headerlogo img {
  height: 100%;
}

.card {
  color: #424242;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 25px 25px 25px 25px;
  max-width: 900px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cardtitle {
  font-size: 50px;
  font-weight: bold;
  margin: 24px 16px 8px 16px;
}

.cardsubtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0 16px 16px 16px;
}

.cardtext {
  font-size: 16px;
  margin: 16px 16px 16px 16px;
}

.cardactions {
  display: inline-block;
  border-radius: 2px;
  margin: 8px 16px 16px 16px;
  height: 36px;
  font-size: 14px;
  background-color: #8BC34A;
  transition: all 0.1s ease;
}

.cardactions:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cardactions a {
  display: inline-block;
  color: #FFFFFF;
  padding: 0 16px 0 16px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 1080px) {
  .header {
    padding: 0 25px;
  }
}

@media screen and (max-width: 400px) {
  .headertext {
    display: none;
  }
}
